* {
  box-sizing: border-box;
}
body {
  width: fit-content;
  height: fit-content;
  margin: 3rem auto;
  padding: 0;
  background-color: burlywood;
}
.grid-item {
  position: relative;
  background-color: lightblue;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.promt {
  position: absolute;
  left: 0;
  top: 0;
}
.answer {
  width: 50%;
  height: 50%;
  text-align: center;
}
.wrappers {
  width: 800px;
  height: 800px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
}
#Box1,
#Box3 {
  border-left: 3px solid black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
#Box1,
#Box3,
#Box5,
#Box7,
#Box13,
#Box15 {
  border-right: 1px solid gray;
}
#Box10,
#Box11,
#Box16 {
  border-top: 1px solid gray;
}
#Box2,
#Box4 {
  border-right: 3px solid black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
#Box5 {
  border-left: 3px solid black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
#Box6 {
  border-top: 3px solid black;
  border-right: 3px solid black;
}
#Box7 {
  border-top: 3px solid black;
  border-left: 3px solid black;
}
#Box8 {
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}
#Box10,
#Box11 {
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}
#Box13,
#Box15 {
  border-left: 3px solid black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
#Box14 {
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}
#Box16 {
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}
